<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 扩展配置部分 -->
	<key>NSExtension</key>
	<dict>
		<!-- 指定这是一个 Safari Web 扩展 -->
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.web-extension</string>
		
		<!-- 指定扩展的主类 -->
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariWebExtensionHandler</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>OpenInna</string>
	<key>CFBundleIdentifier</key>
	<string>com.wangdaodao.openiina@safari</string>
	<key>CFBundleName</key>
	<string>OpenInna</string>
</dict>
</plist>
